@using MyEverNote.Entities
@using MyEverNote.WebApp.Models

@{ 
    List<Category> list = CacheHelper.GetCategoriesFromCache();
}

<h3 class="my-4">Kategoriler</h3>
<ul class="list-group">
    <li class="list-group-item"><a href="@Url.Action("Index","Home")"><i class="fas fa-angle-double-right"></i>   Tümü</a></li>

    @foreach (Category cat in list)
    {
        <li class="list-group-item"><a href="/Home/ByCategory/@cat.Id" title="@cat.Description"><i class="fas fa-angle-double-right"></i>   @cat.Title</a></li>
    }


</ul>
